html, body {
    margin : 0;
}

h1, h2 {
    font-family: shojumaru;
    color: #7B1E31;
    text-align: center;
}
header {
    background-image: url("../img/cherry-blossoms-4069596_960_720.png");
    background-position: center;
    background-repeat: ;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.borderTitle{
    display: block;
    margin: auto;
    border-color: #7B1E31;
    border-style: solid;
    border-radius: 20px;
    width: 200px;

}


#navBar > div > a > img {
    height : 30px;
}

footer {
    background-color: #7B1E31;
    height: 100px;
}

#credits {
    visibility: hidden;
}