html, body {
    margin : 0;
}

h1, h2 {
    font-family: shojumaru;
    color: #7B1E31;
    text-align: center;
}


.borderTitle{
    display: block;
    margin: auto;
    border-color: #7B1E31;
    border-style: solid;
    border-radius: 20px;
    width: 250px;

}


#navBar > div > a > img {
    height : 30px;
}

footer {
    background-color: #7B1E31;
    height: 100px;
}

#credits {
    visibility: hidden;
}